<section class="detalis_specifications">
    <div class="card-item">
        <p>Locate people and animals in the dark rapidly</p>
             <p>Find people or animals in the dark or camouflaged against background easily</p>
             <img width="317" height="190" src="img/locate.jpg" alt="key_and_fetures_locate">
        </div>
         
        <div class="card-item">
            <p>30 X optical zoom</p>
                <p> vehicle number plate 300 meters and people, vehicle make model and colour, weapons and more 1KM </p>
                <img width="317" height="190" src="img/30 X optical zoom.jpg" alt="key_and_fetures_zoom">
            </div>
            <div class="card-item">
                <p>
                    Immediate & Comprehensive Awareness</p>
                    <p> Gain immediate and comprehensive situational awareness with a clear view from above.
                </p>
                <img  width="317" height="190" src="img/Group-584.jpg" alt="key_and_fetures_immediate_comprehensive_awareness">
            </div>
            <div class="card-item">
                <p>Find Missing Persons or Suspects</p>
                    <p> Autonomous, sensing auto pilot system. An all around visual awareness, orientation and collision avoidance.
                </p>
                <img width="317" height="190" src="img/Group-588.jpg" alt="Find Missing Persons or Suspects">
            </div>
        
    </section>