<header class="header"> 
    <h1>Sky Mantis UAV</h1>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="#" class="header_menu_link">About us</a>
                <a href="#" class="header_menu_link">Key Features</a>
                <a href="#" class="header_menu_link">Details & Specification</a>
                <a href="#" class="header_menu_link">Contacts us</a>
            </li>
        </ul>
        <div class="Evolve_Logo_header">
            <img src="img/Evolve-Logo-header.svg" alt="Evolve-Logo-header"> 
        </div>   
    </nav>
    <img src="img/SM_2.jpg" alt="sky Mantis">
</header>
